/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
        SOCIAL MEDIA FEED
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
        week 4 FAC
*/
/* VARIABLES */
body {
  margin-bottom: 80px;
  background-image: url("http://i.imgur.com/qlnl38n.png");
  background-size: 150% 100%; }

p {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  font-size: 13px; }

.header {
  margin-top: 60px;
  margin-bottom: 40px; }
  .header div {
    padding: 0; }
    .header div h1 {
      font-family: "Press Start 2P", cursive;
      font-size: 45px;
      color: #fff; }
    .header div h2 {
      font-family: "Press Start 2P", cursive;
      font-size: 25px;
      color: #4099FF; }

.post {
  padding: 0;
  height: 300px; }
  .post .img-frame {
    padding: 0;
    overflow: hidden;
    height: 100%; }
    .post .img-frame:hover {
      border: 3px solid #79cafc;
      transition: border 0.2s; }
    .post .img-frame img:hover {
      -webkit-filter: contrast(120%);
      -webkit-filter: brightness(120%); }
    .post .img-frame .username {
      position: absolute;
      margin: 10px;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.75);
      z-index: 100; }
  .post .text-wrapper {
    padding: 25px;
    background-color: #79cafc;
    height: 100%; }
  .post .tweet-text {
    margin-bottom: 0;
    line-height: 1.75; }
  .post .date {
    color: #388;
    margin-top: 8px; }

.thirdrow .col-md-6 {
  padding: 0; }

#post2 {
  height: 640px; }
  #post2 .img-frame {
    height: 80%; }
  #post2 .text-wrapper {
    height: 20%; }

#post3 {
  margin-top: -300px;
  margin-bottom: 40px; }

#post4, #post5 {
  height: 375px; }
  #post4 .img-frame, #post5 .img-frame {
    height: 75%; }
  #post4 .text-wrapper, #post5 .text-wrapper {
    height: 35%; }

#post1 .img-frame, #post2 .img-frame, #post3 .img-frame, #post4 .img-frame, #post5 .img-frame {
  overflow: hidden;
  position: relative; }
  #post1 .img-frame img, #post2 .img-frame img, #post3 .img-frame img, #post4 .img-frame img, #post5 .img-frame img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    min-height: 100%;
    min-width: 100%; }

.taller {
  max-height: 100%; }

.wider {
  max-width: 100%; }

@media (max-width: 768px) {
  p {
    line-height: 1.2;
    font-size: 10px; }

  .header {
    margin-top: 30px;
    margin-bottom: 20px; }
    .header div h1 {
      font-size: 25px; }
    .header div h2 {
      font-size: 15px; }

  .post, #post1, #post2, #post3, #post4, #post5 {
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px; }
    .post .img-frame, #post1 .img-frame, #post2 .img-frame, #post3 .img-frame, #post4 .img-frame, #post5 .img-frame {
      overflow: hidden; }
      .post .img-frame img, #post1 .img-frame img, #post2 .img-frame img, #post3 .img-frame img, #post4 .img-frame img, #post5 .img-frame img {
        width: 100%;
        position: inherit;
        top: 0;
        left: 0; }
    .post .text-wrapper, #post1 .text-wrapper, #post2 .text-wrapper, #post3 .text-wrapper, #post4 .text-wrapper, #post5 .text-wrapper {
      padding: 10px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .post, #post1, #post2, #post3, #post4, #post5 {
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px; }
    .post .img-frame, #post1 .img-frame, #post2 .img-frame, #post3 .img-frame, #post4 .img-frame, #post5 .img-frame {
      overflow: hidden; }
      .post .img-frame img, #post1 .img-frame img, #post2 .img-frame img, #post3 .img-frame img, #post4 .img-frame img, #post5 .img-frame img {
        width: 100%;
        position: inherit;
        top: 0;
        left: 0; }
    .post .text-wrapper, #post1 .text-wrapper, #post2 .text-wrapper, #post3 .text-wrapper, #post4 .text-wrapper, #post5 .text-wrapper {
      padding: 10px; } }
@media (min-width: 992px) {
  body {
    margin-bottom: 120px; } }

/*# sourceMappingURL=main.css.map */
