

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
        SOCIAL MEDIA FEED
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
        week 4 FAC
*/

/* VARIABLES */
    $postMDHeight: 300px;
    $postVertSpacing: 40px;

    $bodyFontFamily: "Helvetica Neue",Helvetica,Arial,sans-serif;
    //'Nixie One', cursive;
    $titleFontFamily: 'Press Start 2P', cursive;

    $lightTwitterBlue: rgb(121,202,252);

//Generic Stylings
body {
    margin-bottom: 80px;
    background-image: url('http://i.imgur.com/qlnl38n.png');
    //background-attachment: fixed;
    background-size: 150% 100%; 
}

p {
    margin: 0;
    font-family: $bodyFontFamily;
    color: #000;
    font-size: 13px;
}

.header {
    margin-top: 60px;
    margin-bottom: 40px;
    div {
        padding: 0;
        h1 {
            font-family: $titleFontFamily;
            font-size: 45px;
            color: #fff;    
        }
        h2 {
            font-family: $titleFontFamily;
            font-size: 25px;
            color: $lightTwitterBlue;
        }
    }
}

.post {
    //border: 2px solid rgb(64,153,255);
    padding: 0;
    height:$postMDHeight;
    .img-frame {
        padding: 0;
        overflow: hidden;
        height: 100%;
        &:hover {
            border: 3px solid $lightTwitterBlue;
            transition: border 0.2s;
        }
        img {
            &:hover {
                -webkit-filter: contrast(120%);
                -webkit-filter: brightness(120%);
            }
        }
        .username {
            position: absolute;
            margin: 10px;
            padding: 10px;
            background-color: rgba(255,255,255,0.75);
            z-index: 100;
        }
    }
    .text-wrapper {
        padding: 25px;
        background-color: $lightTwitterBlue;
        height:100%;
    }
        .tweet-text {
            margin-bottom: 0;
            line-height: 1.75;
        }
        .date {
            color: #388;
            margin-top: 8px;
        }
}


//Specific Row styles
.thirdrow {
    .col-md-6 {
        padding: 0;
    }
}

//Specific post styles
#post2 {
    height: ($postMDHeight * 2) + $postVertSpacing;
    .img-frame {
        height: 80%;
    }
    .text-wrapper {
        height: 20%;
    }  
}
#post3 {
    margin-top: -$postMDHeight;
    margin-bottom: $postVertSpacing;
}
#post4, #post5 {
    height: $postMDHeight * 1.25;
    .img-frame {
        height: 75%;
    }
    .text-wrapper {
        height: 35%;
    }
}

//Images that need stretching to fill height
#post1, #post2, #post3, #post4, #post5 {
    .img-frame {
        overflow: hidden;
        position: relative;
        img {
            position: absolute;
            top: -9999px;
            bottom: -9999px;
            left: -9999px;
            right: -9999px;
            margin: auto;
            min-height: 100%;
            min-width: 100%;
        }
    }
}
.taller {
    max-height: 100%;
}
.wider {
    max-width: 100%;
}

@media (max-width: 768px) {
    
    p {
        line-height: 1.2;
        font-size: 10px;

    }

    .header {
        margin-top: 30px;
        margin-bottom: 20px;
        div {
            h1{
                font-size: 25px;
            }
            h2 {
                font-size: 15px;
            }
        }   
    }

    .post, #post1, #post2, #post3, #post4, #post5 {
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        .img-frame {
            overflow: hidden;
            img {
                width: 100%;
                position: inherit;
                top: 0;
                left: 0;
            }
        }
        .text-wrapper {
            padding: 10px;
        }
    } 
}

@media (min-width: 768px) and (max-width: 991px)  {
    .post, #post1, #post2, #post3, #post4, #post5 {
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        .img-frame {
            overflow: hidden;
            img {
                width: 100%;
                position: inherit;
                top: 0;
                left: 0;
            }
        }
        .text-wrapper {
            padding: 10px;
        }
    } 
}

@media (min-width: 992px) {
    body {
        margin-bottom: 120px;
    }
}




